<!DOCTYPE html>
<html lang="en">
<head>
{{>links}}
</head>
<body>
  <div id="container">
    {{>header}}

    <!-- d-banner-start -->
     <div id="d-banner">
        <img src="docimages/bradcam2.png" alt="">
        <h1>Departments</h1>
        </div>
    <!-- d-banner-end -->

    {{>departmentarea}}
  
      <!-- ad-area-start -->
      <div id="ad-area">
        <div class="ad-area-div" id="ad-area-div1">
          <p>FUN FACTS</p>
          <h3>Over 5,100 patients<br>trust us</h3>
          <a href="">Make an appointment</a>
        </div>
        <div class="ad-area-div" id="ad-area-div2">
          <div class="ad-area-divdata">
            <h3>30</h3>
            <p>Years of Experienced</p>
          </div>
          <div class="ad-area-divdata">
            <h3>4,500</h3>
            <p>Happy Patients</p>
          </div>
          <div class="ad-area-divdata">
            <h3>84</h3>
            <p>Number of Doctors</p>
          </div>
          <div class="ad-area-divdata">
            <h3>300</h3>
            <p>Number of Staffs</p>
          </div>
        </div>
      </div>
      <!-- ad-area-end -->
  

      {{>footer}}

  <!-- javascript-->
  <script src="js/script.js"></script>
</body>
</html>