<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
                <!-- department-area-start -->
    <div id="department-area" class="uni-padding">
      <div id="dpt-heading">
        <h2>Our Departments</h2>
        <p>Esteem spirit temper too say adieus who direct esteem.<br>
          It esteems luckily or picture placing drawing</p>
      </div>
      <div id="dpt-type-container">
        <div class="dpt-type">
          <img src="docimages/dpt1.png" alt="">
          <h3>Eye Care</h3>
          <p>Esteem spirit temper too say<br>who direct esteem.</p>
          <a href="">+7 235 365 2365</a>
        </div>
        <div class="dpt-type">
          <img src="docimages/dpt2.png" alt="">
          <h3>Physical Therapy</h3>
          <p>Esteem spirit temper too say<br>who direct esteem.</p>
          <a href="">+7 235 365 2365</a>
        </div>
        <div class="dpt-type">
          <img src="docimages/dpt3.png" alt="">
          <h3>Dental Care</h3>
          <p>Esteem spirit temper too say<br>who direct esteem.</p>
          <a href="">+7 235 365 2365</a>
        </div>
        <div class="dpt-type">
          <img src="docimages/dpt4.png" alt="">
          <h3>Diagnostic Test</h3>
          <p>Esteem spirit temper too say<br>who direct esteem.</p>
          <a href="">+7 235 365 2365</a>
        </div>
        <div class="dpt-type">
          <img src="docimages/dpt5.png" alt="">
          <h3>Skin Surgery</h3>
          <p>Esteem spirit temper too say<br>who direct esteem.</p>
          <a href="">+7 235 365 2365</a>
        </div>
        <div class="dpt-type">
          <img src="docimages/dpt6.png" alt="">
          <h3>Surgery Service</h3>
          <p>Esteem spirit temper too say<br>who direct esteem.</p>
          <a href="">+7 235 365 2365</a>
      </div>
    </div>
  </div>
    <!-- department-area-end -->
    </div>
</body>
</html>