<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <!-- doctors-area-start -->
    <div id="doctor-area" class="uni-padding">
      <div id="doctor-heading">
        <div id="doctor-heading-div1">
          <h2>Medlife<br>Expert Doctors</h2>
        </div>
        <div id="doctor-heading-div2">
        <h4>OUR DOCTORS</h4>
        <h1>Our Specialists</h1>
        </div>
      </div>
      <div id="doctor-type-container">
        <div class="doctor-type">
          <img src="docimages/doc1.png" alt="">
          <h3>Dr. Adam Brian</h3>
          <p>Cardiologist</p>
          <a href="">+7 235 365 2365</a>
        </div>
        <div class="doctor-type">
          <img src="docimages/doc2.png" alt="">
          <h3>Dr.Brian Judge</h3>
          <p>Therapist</p>
          <a href="">+7 235 365 2365</a>
        </div>
        <div class="doctor-type">
          <img src="docimages/doc3.png" alt="">
          <h3>Dr.Liloyd Wilson</h3>
          <p>Dentist</p>
          <a href="">+7 235 365 2365</a>
        </div>
        <div class="doctor-type">
          <img src="docimages/doc4.png" alt="">
          <h3>Dr.Ian Smith</h3>
          <p>Cardiologist</p>
          <a href="">+7 235 365 2365</a>
        </div>
        <div class="doctor-type">
          <img src="docimages/doc5.png" alt="">
          <h3>Dr. Henry Parker</h3>
          <p>Neurologist</p>
          <a href="">+7 235 365 2365</a>
        </div>
        <div class="doctor-type">
          <img src="docimages/doc6.png" alt="">
          <h3>Dr.Philip Hugh</h3>
          <p>Surgeon</p>
          <a href="">+7 235 365 2365</a>
        </div>
        <div class="doctor-type">
          <img src="docimages/doc7.png" alt="">
          <h3>Alicia Henderson</h3>
          <p>Surgery Specialist</p>
          <a href="">+7 235 365 2365</a>
        </div>
        <div class="doctor-type">
          <img src="docimages/doc9.jpg" alt="">
          <h3>Shivam Sharma</h3>
          <p>Full Stack Developer</p>
          <a href="">+7 235 365 2365</a>
        </div>
      </div>
    </div>  
    <!-- doctors-area-end -->
    </div>
</body>
</html>