<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div id="container"> 
    <header>
      <!-- topbar-start -->

      <div id="topbar" class="uni-padding">
          <div id="social-icon">
            <a href=""><i class="bi bi-instagram social-icon"></i></a>
            <a href=""><i class="bi bi-facebook social-icon"></i></a>
            <a href=""><i class="bi bi-whatsapp social-icon"></i></a>
            <a href=""><i class="bi bi-twitter social-icon"></i></a>
            <a href=""><i class="bi bi-google social-icon"></i></a>
          </div>
          <p id="email">Email Us : info@medlife.com</p>
          <p id="tollfree">Tollfree : 011-12345</p>
          <!-- topbar-end -->
          <!-- menu-start -->
      </div>
      <div id="menu" class="uni-padding">
        <div id="logo"><a href=""><img src="docimages/logo.png" alt=""></a></div>
        <nav id="navbar">
           <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/medicshop" style="font-style:italic ;">MedicShop</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/departmentlist">Department</a></li>
            <li><a href="/doctorslist">Doctors</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/adminreg" style="color: red;">Admin</a></li>
           </ul>
        </nav>
        <div id="menu-btn"><a href="/userreg">Appointment</a></div>
      </div>

      
    </header>
    <!-- menu-end -->
   </div>

</body>
</html>